@font-face { 
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.woff2') format('woff2'), 
			 url('../fonts/OpenSans.ttf')  format('truetype'),
			 url('../fonts/OpenSans.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'OpenSans Regular';
	src: url('../fonts/OpenSans Regular.woff2') format('woff2'), 
			 url('../fonts/OpenSans Regular.ttf')  format('truetype'),
			 url('../fonts/OpenSans Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'OpenSans Extrabold';
	src: url('../fonts/OpenSans Extrabold.woff2') format('woff2'), 
			 url('../fonts/OpenSans Extrabold.ttf')  format('truetype'),
			 url('../fonts/OpenSans Extrabold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'OpenSans Light';
	src: url('../fonts/OpenSans Light.woff2') format('woff2'), 
			 url('../fonts/OpenSans Light.ttf')  format('truetype'),
			 url('../fonts/OpenSans Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'OpenSans Semibold';
	src: url('../fonts/OpenSans Semibold.woff2') format('woff2'), 
			 url('../fonts/OpenSans Semibold.ttf')  format('truetype'),
			 url('../fonts/OpenSans Semibold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Pacifico Regular';
	src: url('../fonts/Pacifico Regular.woff2') format('woff2'), 
			 url('../fonts/Pacifico Regular.ttf')  format('truetype'),
			 url('../fonts/Pacifico Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
